doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title= title
        link(rel='stylesheet', href='/css/style.css')
    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js')
        script(src='/js/global.js')